:root {
	--primary-color: #183d52;
	--secondary-color: #f1601f;
	--light-gray: #f2f2f2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}
html {
	scroll-behavior: smooth;
}
